<!--index.html-->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
            margin: 0;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Изображение">
    <h1>Выберите книгу</h1>

    {% if books %}
        <ul>
        {% for book in books %}
            <li><a href="{{ url_for('book', filename=book) }}">{{ book }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных книг.</p>
    {% endif %}

    <a href="{{ url_for('about') }}">Описание программы</a>
</body>
</html>
