<!--about.html-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Описание программы</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>Описание программы</h1>
    <p>Это текстовый квест, где Вы можете выбирать свои действия и проходить различные приключения.</p>
    <p>Выберите книгу, чтобы начать приключение!</p>
    <a href="{{ url_for('index') }}">На главную</a>
</body>
</html>

